<footer>
  <hr />
<!--
  <p>
    <a href="#" title="Search plugin" onclick="window.external.AddSearchProvider('http://intranet/ipinq/ipinqsearch.xml')">Install plugin</a>
  </p>
-->
  <p>
  <em>Database last refreshed:</em> <%= @mtime %>
  </p>
  <p>Made with <a href="http://www.sinatrarb.com/">Sinatra</a> and <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</p>
  <!-- <%= @VERSION %> -->
</footer>
