        <div class="hero-unit">
	  <img align="right" alt="[logo]" src="images/logo.jpg">
          <h1>IP enquiry</h1>
        </div>
<div class="row">
  <div class="span16">
    <%= partial :query %>
  </div>
</div>
