        <div class="hero-unit">
	  <img align="right" alt="118 118" src="images/2311_118118.jpg">
          <h1>IP inquiry</h1>
	  <h2><em>Got your VLAN!</em></h2>
        </div>
<div class="row">
  <div class="span16">
    <%= partial :query %>
  </div>
</div>
