<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP Inquiry</title>
    <meta name="description" content="IP/name search">

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="search" type="application/opensearchdescription+xml" title="Internal IPs" href="http://intranet/ipinq/ipinqsearch.xml">
  </head>

  <body>

    <div class="container">

      <div class="content">
        <%= partial :heading %>

        <%= yield %>

        <%= partial :footer %>
      </div>
    </div>

  </body>
</html>
